#editApplicationsTable {
  border-collapse: collapse;
  width: auto;
  max-width: 1200px;
  margin-top: 40px;
  border: 2px solid black;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

#editApplicationsTable td,
#editApplicationsTable th {
  border: 1px solid black;
  border-bottom: 2px solid black;
  padding: 11px;
  font-family: 'Open Sans', sans-serif;
  font-size: 10pt;
}

#editApplicationsTable thead th {
  text-align: left;
  white-space: nowrap;
  font-size: 11pt;
  font-weight: 600;
}

#editApplicationsTable tbody td {
  text-align: center;      
  vertical-align: middle;  
}

#submitButton {
  background-color: blue;
  color: whitesmoke;
  border-radius: 10px;
  transition: background-color 0.2s;
}
